{
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingCooma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid"
}
